/* Write your CSS here! */
body {
    margin: 8px;
    display: block;
    color:#000;
    background-color: #fdf5e6;
}

#mainHeading {
    color:#fff;
    background-color:#673ab7;
    margin: -8px;
    padding: 2px;
    text-align: center;
    color: red;
}

.paragraph {
    display: table;
    text-align: center;
    color:#000;
    background-color: #fdf5e6;
    margin: auto;
}

.funParagraph {
    color: gold;
    font-size: 50px;
    background-color: black;
    display: block;
    padding: 3px;
    margin: 20px;
    color: green;

}